{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'general.css' %}">
</head>
<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img
          class="mb-4"
          src="{% static 'logo.PNG' %}"
          alt=""
          width="72"
          height="50"
        />
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        
        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Police Help</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Doctor Help</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Ambulance</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Fire Help</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        
      </ul>


      <div class="text-end">
        <form action="/login" method="post">
          {% csrf_token %}
        <button type="submit" class="btn btn-outline-light me-2">Login</button>
        </form>
        
      </div>

      <div class="text-end">
        <form action="/signup" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-warning">Sign-up</button>
          </form>
      </div>

    </div>
  </div>
</header>